html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

h1 {
    font-size: 5rem;
    margin: 0;
    text-shadow: 3px 1px #000;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(5px);
}

nav a {
    color: white;
    margin-left: 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 5px;
    padding: 0.5rem;
}

nav a:hover {
    background-color: white;
    color: #333;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

h2 {
    font-size: 3rem;
    margin-top: 0;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.bibliography {
    text-align: justify;
}

.intro {
    text-align: center;
}

div img {
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 0.5em;
}

.perfil {
    text-align: center;
}

.name {
    text-align: center;
    font-size: 200%;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

.card__image {
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    height: 163.2px;
}

.card__title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.card__text {
    font-size: 16px;
    line-height: 1.5;
}

.card__content {
    text-align: center;
    width: 258px;
    height: 136.8px;
}

.card__button {
    background-color: #eb636b;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    text-decoration: none;
}

.card__button:hover {
    background-color: #e63244;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    nav {
        justify-content: center;
    }

    nav a {
        margin-left: 0.5rem;
    }

    h1 {
        font-size: 3rem;
    }

    main {
        padding: 1rem;
    }

    .cards-container {
        padding: 10px;
    }

    .card {
        width: 60%;
        height: auto;
    }

    .card__title {
        font-size: 20px;
        margin: 5px 0;
    }

    .card__text {
        font-size: 14px;
    }

    .card__content {
        width: 100%;
        height: auto;
    }

    .card__button {
        font-size: 14px;
        padding: 8px;
    }
}