<%-include ('../layout/menu.html');%>
    <main>
        <article>
            <div class="perfil">
                <img src="/img/Cesar.jpeg" max-width="20%" height="225px">
            </div>
            <div class="name">Cesar Bernal</div>
            <br>
            <div class="bibliography">

                <p class="intro">Hello, my name is Cesar Oswaldo Bernal Sanchez. In this web I will talk a little about
                    myself.</p>
                <br>
                <p> I was born in Mazatlan Sinaloa, Mexico. I am currently (2023) studying Information Technology
                    Engineering at the <a href="http://www.upsin.edu.mx/" target="_blank"
                        style="text-decoration: none; color: #e63244;">Universidad Politecnica de
                        Sinaloa (UPSIN)</a>. I consider myself a responsible and honest person, and I am able to adapt
                    to work teams quite easily.
                </p>
                <p>
                    I became interested in computer science when I was in high school. My first programming language was
                    C#. My curiosity led me to try C/C++ and I started doing competitive programming, solving many
                    problems in the mentioned languages (you can check my profile on <a
                        href="https://www.codechef.com/users/pyke99" target="_blank"
                        style="text-decoration: none; color: #e63244">CodeChef</a>). I enjoy data structures and
                    algorithms, and I often read articles about them. Oh, and occasionally, I have written about <a
                        href="/pdfs/Estructura de datos.pdf" target="_blank"
                        style="text-decoration: none; color: #e63244;">data
                        structures and algorithms</a> too.
                </p>
            </div>
        </article>
    </main>
    <%-include ('../layout/footer.html');%>
        </body>

        </html>