<%-include ('../layout/menu.html');%>
    <div class="cards-container">
        <div class="card text-center">
            <div class="card-header">
                Data Structures
            </div>
            <div class="card-body">
                <div class="card__image" style="background-image: url('/img/linkedlist.PNG');"></div>
                <p class="card-text">
                    If you want to learn a bit about data structures, take a look at the following link.
                </p>
                <a href="/pdfs/Estructura de datos.pdf" target="_blank" class="card__button">Go learn</a>
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>

        <div class="card text-center">
            <div class="card-header">
                Algorithms
            </div>
            <div class="card-body">
                <div class="card__image" style="background-image: url('/img/algorithms.PNG');"></div>
                <p class="card-text">
                    If you want to learn a bit about algorithms, take a look at the following link.
                </p>
                <a href="/pdfs/algoritmos.pdf" target="_blank" class="card__button">Go learn</a>
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>

        <div class="card text-center">
            <div class="card-header">
                Databases
            </div>
            <div class="card-body">
                <div class="card__image" style="background-image: url('/img/database.PNG');"></div>
                <p class="card-text">
                    If you want to learn a bit about databases, take a look at the following link.
                </p>
                <a href="/pdfs/basedatos.pdf" target="_blank" class="card__button">Go learn</a>
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>
    </div>
    <%-include ('../layout/footer.html');%>
        </body>

        </html>