<%-include ('../layout/menu.html');%>
    <div class="cards-container">
        <div class="card">
            <div class="card__image" style="background-image: url('/img/hardware-house.PNG');"></div>
            <div class="card__content">
                <h2 class="card__title">Hardware House</h2>
                <p class="card__text">
                    This project was built with HTML, CSS, JavaScript, NodeJS,
                    ExpressJS, AWS.
                </p>
            </div>
            <a class="card_a" href="http://alejandrolizarraga.tech/" target="_blank">
                <button class="card__button">Go to site</button>
            </a>
            <a class="card_a" href="https://gitlab.com/tai-ft-83/hardware-house" target="_blank">
                <button class="card__button">Go to repository</button>
            </a>
        </div>

        <div class="card">
            <div class="card__image" style="background-image: url('/img/De-Mar.png');"></div>
            <div class="card__content">
                <h2 class="card__title">De Mar</h2>
                <p class="card__text">
                    This project was built with Java and MySQL.
                </p>
            </div>
            <a class="card_a" href="https://github.com/Cesar-64bit/DeMar" target="_blank">
                <button class="card__button">Go to repository</button>
            </a>
        </div>
    </div>
    <%-include ('../layout/footer.html');%>
        </body>

        </html>