<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
        <%=title%> - Cesar Bernal
    </title>
    <script src="https://kit.fontawesome.com/c00df74bc0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/js/bootstrap.bundle.min.js">
</head>

<body>
    <header class="parallax" style="background-image: url('/img/<%=image%>.jpg');">
        <nav>
            <div class="menu-toggle">
                <input type="checkbox" id="menu-checkbox">
                <label for="menu-checkbox" class="menu-icon">&#9776;</label>
                <ul class="menu">
                    <li><a href="<%=links.linkAboutMe%>">About</a></li>
                    <li><a href="<%=links.linkPorfolio%>">Porfolio</a></li>
                    <li><a href="<%=links.linkLearn%>">Learn</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="https://github.com/Cesar-64bit" target="_blank"><i class="fa-brands fa-github"></i></a>
                    </li>
                    <li><a href="https://gitlab.com/CesarUPSIN" target="_blank"><i class="fa-brands fa-gitlab"></i></a>
                    </li>
                </ul>
            </div>
        </nav>

        <h1>
            <%=title%>
        </h1>
    </header>