<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%> - Cesar Bernal
    </title>
    <script src="https://kit.fontawesome.com/c00df74bc0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="parallax" style="background-image: url('/img/<%=image%>.jpg');">
        <nav>
            <a href="<%=links.linkAboutMe%>">About</a>
            <a href="<%=links.linkPorfolio%>">Porfolio</a>
            <a href="<%=links.linkLearn%>">Learn</a>
            <a href="#">Contact</a>
            <a href="https://github.com/Cesar-64bit" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://gitlab.com/CesarUPSIN" target="_blank"><i class="fa-brands fa-gitlab"></i></a>
        </nav>
        <h1>
            <%=title%>
        </h1>
    </header>